{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<h1><a href="{{ request.script_root|safe }}/">Koto Testnet Faucet</a></h1>
<div class="balance">Remaining amount: {{ balance }} Koto</div>
<hr />
<div class="message">{{ msg }}</div>
{% if not accepted %}
<form method="post" action="{{ request.script_root|safe }}/">
    <dl>
        {{ render_field(form.address) }}
        {{ render_field(form.amount) }}
    </dl>
    {{ form.csrf_token }}
    {{ form.recaptcha }}
    {% if form.recaptcha.errors %}
        <ul class=errors>
            {% for error in form.recaptcha.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <input name="submit" type="submit" value="Request Koto" />
</form>
{% else %}
<a href=".">Return to Faucet</a>
{% endif %}
<hr />
<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Address</th>
        <th>Amount(Koto)</th>
        <th>Transaction ID</th>
        <th>Status</th>
    </tr>
    {% for q in queue %}
    <tr>
        <td>{{ q.id }}</td>
        <td>{{ q.date }}</td>
        <td><a href="https://koto-insight-testnet.poolof.work/address/{{ q.address }}">{{ q.address }}</a></td>
        <td>{{ q.amount }}</td>
        <td>{% if q.transaction %}<a href="https://koto-insight-testnet.poolof.work/tx/{{ q.transaction }}">{{ q.transaction }}</a> {% endif %}</td>
        <td>{{ label[q.state] }}</td>
    </tr>
    {% endfor  %}
</table>
{% endblock %}
